.page-header {
  padding-top: 20px;
}

#data h2 {
  margin-bottom: 10px;
}

span.name {
  font-weight: normal;
  padding-left: 10px;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 10px;
}
